/* PC */
@media screen and (min-width: 768px) {
  .listImg {
    border-right: "1px solid #eee";
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .listForm {
    flex-direction: column;
  }
  .listImg {
    border-right: 0;
  }
  .listImg > div {
    width: 80% !important;
    height: auto !important;
  }
}

@media screen and (max-width: 400px) {
  .listImg > div {
    width: 100% !important;
    height: auto !important;
  }
}
